@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #6effcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #000000;
}

.header .btn button{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #a8a8a8;
    color: #fcfcfcda;
    transform: scale(1.1);
}
   
.contenedor_carta {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.carta {
    width: 10%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 700;
}

.caja